In [1]:
import pandas as pd
import numpy as np

# Parameters Given
Actually 3 questions.

1. In df, interchange columns 'a' and 'c'.
2. Create a generic function to interchange two columns, without hardcoding column names.
3. Sort the columns in reverse alphabetical order, that is colume 'e' first through column 'a' last.

In [2]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution

In [3]:
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [6]:
df.sort_index(axis=1,ascending=False,inplace=True)

In [7]:
df

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15