In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [14]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

# Solution

In [15]:
df

    a   b   c
0  10  11  28
1  24  12  21
2   3  12  26
3   4  28  27
4  17   5  16
5  24  28  28
6  24  25  15
7  17  26   6
8   5  18  25
9   8  15  16

In [16]:
# Finding the nth largest value and returning its index
n=4

In [17]:
df['a'].argsort()[::-1][n]

0