In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [6]:
ser = pd.Series(np.random.randint(1, 100, 15))

# Solution

In [7]:
ser

0     98
1     57
2     44
3     82
4     32
5     54
6     98
7     28
8     61
9     88
10    33
11    54
12    21
13    68
14    99
dtype: int32

In [13]:
n=4
value=55

In [18]:
index = ser.argsort()[::-1]
index

14    14
13     6
12     0
11     9
10     3
9     13
8      8
7      1
6     11
5      5
4      2
3     10
2      4
1      7
0     12
dtype: int64

In [27]:
filtered_values = ser[index][ser[index]>value]
filtered_values

14    99
6     98
0     98
9     88
3     82
13    68
8     61
1     57
dtype: int32

In [29]:
print("The index of the 4th largest value greater than 55 is",np.where(ser == filtered_values[n-1])[0][0])

The index of the 4th largest value greater than 55 is 3