In [2]:
import pandas as pd
import numpy as np

# Parameters Given

In [3]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

# Solution

In [4]:
df

     0   1   2   3
0   27  13  21  25
1   35  33  20  12
2   12  23  13  10
3   34  14  13  26
4   34  19  15  27
5   18  33  26  37
6   21  16  29  26
7   24  14  34  19
8   30  26  17  14
9   29  13  24  21
10  38  16  38  20
11  13  29  35  16
12  20  34  21  18
13  12  34  17  23
14  16  35  30  13

In [5]:
rowsums = df.apply(np.sum, axis=1)
answer = df.iloc[np.where(rowsums>100)[0][-2:],:]

In [6]:
answer

     0   1   2   3
5   18  33  26  37
10  38  16  38  20