In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [25]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))

In [26]:
df

    0   1   2   3   4   5   6   7   8   9
0  15  45  25  47  42  13  -9  19   8  17
1  22  19 -19 -18   9  33  -9 -12  38  28
2   4 -12  21  -3  14  42   5  38  41 -19
3  41 -13 -10 -12   2  -5  47  -7  -6  22
4   4  12  39 -14   1   8 -12   9  11  31
5   9 -10  24   9  -4  -8  -5  46 -13  31
6  19  -6  27  30  33 -15 -20  15  46   9
7 -16  48  15  26  14   5  14  40 -14  12
8   9   6   2  49  45  12  -9  49  29  -9
9  39  40  33  18  35  13  31 -17 -11 -10

# Solution

In [27]:
df=df[df>0].values.flatten()
df=df[~np.isnan(df)]

In [30]:
n = int(np.floor(df.shape[0]**.5))

In [32]:
top_indexes = np.argsort(df)[::-1]
output = np.take(df, sorted(top_indexes[:n**2])).reshape(n, -1)

In [33]:
output

array([[15., 45., 25., 47., 42., 13., 19.,  8.],
       [17., 22., 19.,  9., 33., 38., 28., 21.],
       [14., 42.,  5., 38., 41., 41., 47., 22.],
       [12., 39.,  8.,  9., 11., 31.,  9., 24.],
       [ 9., 46., 31., 19., 27., 30., 33., 15.],
       [46.,  9., 48., 15., 26., 14.,  5., 14.],
       [40., 12.,  9.,  6., 49., 45., 12., 49.],
       [29., 39., 40., 33., 18., 35., 13., 31.]])