In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [2]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [3]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

# Solution

In [4]:
def swap_row(df,i,j):
    a,b=df.iloc[i,:].copy(),df.iloc[j,:].copy()
    df.iloc[i,:],df.iloc[j,:] = b,a
    return df;

In [5]:
print(swap_row(df,1,3))

    0   1   2   3   4
0   0   1   2   3   4
1  15  16  17  18  19
2  10  11  12  13  14
3   5   6   7   8   9
4  20  21  22  23  24