In [1]:
import pandas as pd
import numpy as np

### Parameters Given

In [2]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

### Solution

#### Method 1

In [4]:
list(ser1[~ser1.isin(ser2)]) + list(ser2[~ser2.isin(ser1)])

[1, 2, 3, 6, 7, 8]

#### Method 2

In [8]:
union = pd.Series(np.union1d(ser1,ser2))
union

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [10]:
intersection = pd.Series(np.intersect1d(ser1,ser2))
intersection

0    4
1    5
dtype: int64

In [11]:
union[~union.isin(intersection)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64