In [9]:
import pandas as pd
import numpy as np

### Parameters Given

In [10]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

### Solution

In [11]:
new_ser1=pd.concat([ser1,ser2],axis=1)  #HORIZONTALY

In [13]:
new_ser1

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [14]:
new_ser2 = ser1.append(ser2)   # VERTICALLY

C:\Users\nitin\AppData\Local\Temp\ipykernel_220056\2345219042.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_ser2 = ser1.append(ser2)

In [15]:
new_ser2

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object