In [1]:
import pandas as pd
import numpy as np

### Parameters Given

In [8]:
ser1 = pd.Series(list('abcedfghijklmn'))
ser2 = pd.Series(np.arange(14))

In [7]:
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
dtype: object

In [9]:
ser2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
dtype: int32

### Method 1 : Using concat function

In [13]:
y = pd.concat([ser1,ser2],axis=1)
y

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13

### Method 2 : Using DataFrame attributes

In [16]:
y = pd.DataFrame({'Column1':ser1,'Column2':ser2})
y

   Column1  Column2
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13