In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [6]:
df = pd.DataFrame(np.random.random(10)**10, columns=['Random'])

# Solution

In [7]:
df

         Random
0  6.999781e-09
1  9.731182e-01
2  9.783923e-08
3  6.857679e-09
4  5.518211e-02
5  1.583453e-02
6  1.215398e-03
7  4.651072e-02
8  4.597577e-01
9  4.985176e-01

In [9]:
df.round(5)

    Random
0  0.00000
1  0.97312
2  0.00000
3  0.00000
4  0.05518
5  0.01583
6  0.00122
7  0.04651
8  0.45976
9  0.49852