In [1]:
import pandas as pd
import numpy as np

# Parameters Given

In [2]:
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution

In [3]:
df

     random
0  0.067474
1  0.101376
2  0.031170
3  0.725279

In [4]:
total = df.sum()

In [5]:
df['random'] = df['random'].apply(lambda x:x*100)

In [6]:
df

      random
0   6.747395
1  10.137622
2   3.117048
3  72.527928

In [8]:
df['random'] = df['random'].round(2).apply(lambda x:str(x)+'%')

In [9]:
df

   random
0   6.75%
1  10.14%
2   3.12%
3  72.53%