In [1]:
import pandas as pd
import numpy as np

### Parameters Given

In [2]:
ser = pd.Series(list('abcedfghijklmn'))

In [3]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
dtype: object

In [4]:
x = 'alphabets'

### Solution

In [5]:
ser.name = x

In [6]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
Name: alphabets, dtype: object

In [9]:
ser.to_frame()

   alphabets
0          a
1          b
2          c
3          e
4          d
5          f
6          g
7          h
8          i
9          j
10         k
11         l
12         m
13         n